.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cdd7d6;
}

.Brand {
  display: flex;
  width: 100%;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.imgBrand{
  height: 200px;
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
